@(quotes: List[Quote])

@import helper._

@main("Quotes") {
    <script>
    $("#li_quotes").addClass("active");
    </script>

    <table class="table table-condensed">
        <tr><td><h3>Quotes</h3></td>
            <td style="vertical-align: middle; text-align:right;">
                <a href="@routes.Application.index">Back to main menu</a></td></tr>
    </table>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Code</th>
            <th>Last Update</th>
            <th>Last Value</th>
            <th colspan="2" style="background-color: #EDE8EB;text-align: center">Actions</th>
        </tr>
        </thead>
        @quotes.map { quote =>
        <tr>
            <td>@quote.code</td>
            <td>@quote.lastUpdate</td>
            <td>@quote.lastValue</td>
            <td>
                <div>
                    <a href="@routes.QuoteController.updateQuote(quote.code.get)">
                    <button class="btn btn-default btn-xs" type="button" alt="Edit">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button></a>
                </div>
            </td>
        </tr>
        }
    </table>

}