@(tradeLogs: List[TradeLog])

@import helper._

@main("Trade Logs") {

<table class="table table-condensed">
    <tr><td><h1>Trade Logs</h1></td>
        <td style="vertical-align: middle; text-align:right;">
            <a href="@routes.Application.index">Back to main menu</a></td></tr>
</table>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Stock</th>
            <th>Entry Date</th>
            <th>Entry Quote</th>
            <th>Quantity</th>
            <th>Exit Date</th>
            <th>Exit Quote</th>
            <th>Stock Book</th>
            <th>Stock Book Name</th>
            <th>Stock Broker</th>
            <th>Stock Broker Name</th>
            <th>Lot Type</th>
        </tr>
        </thead>
        @tradeLogs.map { tradeLog =>
        <tr>
            <td>@tradeLog.id</td>
            <td>@tradeLog.quoteCode</td>
            <td>@tradeLog.entryDate</td>
            <td>@tradeLog.entryQuote</td>
            <td>@tradeLog.quantity</td>
            <td>@tradeLog.exitDate</td>
            <td>@tradeLog.exitQuote</td>
            <td>@tradeLog.stockBookId</td>
            <td>@tradeLog.stockBookName</td>
            <td>@tradeLog.stockBrokerId</td>
            <td>@tradeLog.stockBrokerName</td>
            <td>@tradeLog.lotType</td>
        </tr>
        }
    </table>
}