@(stockBooks: List[StockBook], stockBookForm: Form[StockBook])

@import helper.twitterBootstrap._
@import play.api.data.FormError

@main("Stock Books") {

<table class="table table-condensed">
    <tr><td><h1>Stock Books</h1>
        <div>
            <button class="btn btn-default btn-sm" type="button" alt="Edit">
                <span class="glyphicon glyphicon-plus"></span>
            </button></div>

        @helper.form(action = routes.Application.newStockBook()) {
            @helper.inputText(stockBookForm("Book Name"), 'placeholder -> "Book Name", 'id -> "Name")
            @helper.inputText(stockBookForm("Description"))
            @helper.inputText(stockBookForm("Color"))
            <input type="submit" value="Create">
        }


    </td>
        <td style="vertical-align: middle; text-align:right;">
            <a href="@routes.Application.index">Back to main menu</a></td></tr>
</table>

    @if(stockBookForm.hasErrors) {
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">x</a>
            @if(stockBookForm.errors.size > 0) {
                <p>@stockBookForm.errors.mkString(", ")</p>
            }
    </div>
    }

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
            <th colspan="2" style="background-color: #EDE8EB;text-align: center">Actions</th>
        </tr>
        </thead>
        @stockBooks.map { stockBook =>
        <tr>
            <td>@stockBook.id</td>
            <td>@stockBook.name</td>
            <td>@stockBook.description</td>
            <td>@stockBook.color</td>
            <td>
                <div>
                    <button class="btn btn-default btn-xs" type="button" alt="Edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-default btn-xs" type="button" alt="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </td>
        </tr>
        }
    </table>

}