@(stockBooks: List[StockBook])

@import helper._

@main("Stock Books") {

<table class="table table-condensed">
    <tr><td><h1>Stock Books</h1></td>
        <td style="vertical-align: middle; text-align:right;">
            <a href="@routes.Application.index">Back to main menu</a></td></tr>
</table>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Color</th>
        </tr>
        </thead>
        @stockBooks.map { stockBook =>
        <tr>
            <td>@stockBook.id</td>
            <td>@stockBook.name</td>
            <td>@stockBook.description</td>
            <td>@stockBook.color</td>
        </tr>
        }
    </table>

}