@(stockBrokers: List[StockBroker])

@import helper._

@main("Stock Brokers") {

<table class="table table-condensed">
    <tr><td><h1>Stock Brokers</h1>
        <div>
            <button class="btn btn-default btn-sm" type="button" alt="Edit">
                <span class="glyphicon glyphicon-plus"></span>
            </button></div>
    </td>
        <td style="vertical-align: middle; text-align:right;">
            <a href="@routes.Application.index">Back to main menu</a></td></tr>
</table>


<table class="table table-condensed">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Odd Lot Fee</th>
        <th>Default Lot Fee</th>
        <th colspan="2" style="background-color: #EDE8EB;text-align: center">Actions</th>
    </tr>
    </thead>
    @stockBrokers.map { stockBroker =>
    <tr>
        <td>@stockBroker.id</td>
        <td>@stockBroker.name</td>
        <td>@stockBroker.oddLotMarketFee</td>
        <td>@stockBroker.defaultLotMarketFee</td>
        <td>
            <div>
                <button class="btn btn-default btn-xs" type="button" alt="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default btn-xs" type="button" alt="Remove">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </td>
    </tr>
    }
</table>
}